@charset "UTF-8";

/* サイト名 */
.site h1 a	{color: #000000;
	text-decoration: none}

.site h1	{margin: 0;}

.site img	{border: none}

/* グローバルメニュー */
.gnav nav{
 width:100%;
 padding:0 0 20px 0;
 margin:0 auto;
}

.gnav ul{
 color:#666;
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
}

.gnav li{
 box-sizing:border-box;
 list-style:none;
 width:16.667%;
 padding:10px 0;
 border:1px #666 solid;
 border-left:none;
 background:#FFF;
 transition:all 0.3s linear;
 color:#000;
 text-align:center;
 text-decoration:none;
 }

 .gnav li a {
	 color: #333;
	 text-decoration: none;
	 display: block;
 }

.gnav li:first-child{
 border-left:1px #FFF solid;
}
.gnav li:hover{ background:#33C3F0;}

/* トップページの説明用文章の左余白を空ける*/
.top-info {
	text-align: center;
  padding: 30px 0;}

.top-info h2	{
	margin-bottom: 15px;
	font-weight: normal;}

.top-info h3	{
	margin-bottom: 5px;
	color: #001E4C;
	font-weight: normal}

.top-info ul {
	list-style: none;
	padding: 5px;}

.top-info p {
	margin-bottom: 15px;
	margin-right: 20px
}

.pdv20 {padding: 20px 0;}

.bg-blue {
	border: 9px solid #E0ECFF;
  margin: 10px auto;}

/* ヘッダー画像 */
.topimg	{max-width: 100%;
	height: auto;
	vertical-align: bottom}

/* キャッチコピー */
.catch	{margin: 0;
	padding: 15px;
	background-color: rgba(255,255,255,0.7);
	font-size: 28px}

/* ヘッダー画像にキャッチコピーを重ねる */
.top	{position: relative}

.catch	{position: absolute;
	bottom: 7%;
	left: 3%}

.imgbox {
	max-width: 100%;
	height: auto;}

/* お知らせ */
.news	{
	margin-top: 30px;
	padding: 20px;
	border: solid 5px #dddddd}

.news h1	{margin-top: 0;
	margin-bottom: 5px;
	font-size: 18px;
	color: #666666}

.news ul	{margin: 0;
	padding: 0;
	list-style: none}

.news li {font-size: 14px;}

.news li a	{display: block;
	padding: 5px;
	border-bottom: dotted 2px #dddddd;
	/*color: #000000;*/
	text-decoration: none}

.news li a:hover	{background-color: #eeeeee}

.news time	{color: #888888;
	font-weight: bold}

.news a:after	{content: "";
	display: block;
	clear: both}

.news time	{float: left;
	width: 60px}

.news .text	{float: none;
	width: auto;
	margin-left: 100px}

.kiji h2 {
	font-weight: bold;
	color: #333;
	}

.kiji h3{
	font-weight: normal;
	padding: .25em 0 .5em .75em;
	border-left: 6px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
}

.kiji h4 {
	margin: 20px 0 5px;
	font-weight: bold;}

.kiji h4 i, h5 i	{	margin-right: 7px;}

.kiji p	{
	max-width: 700px;
	margin-top: 0;
	margin-bottom: 30px}

.kiji ul,ol{ margin-left: 25px}

.kiji .lead	{
	max-width: 100%;
	font-size: 20px;
	color: #666666}

.kijiimg	{
	max-width: 100%;
	height: auto;
	margin-bottom: 20px}

.marker {
	background: linear-gradient(transparent 60%, #ffff66 60%);
	font-weight: bold;
	}

.strongbox {
	margin: 20px 0;
	padding: 15px;
	border: solid 1px #666666;
	font-weight: bold;
	font-size: 1.4rem;
}

.table_01{
	border:#a0a0a0 1px solid;
	text-align: center;
	width: 100%;
	color:#333333;}

.table_01 th {
	font-size: 14px;
	padding: 10px;
	border:#a0a0a0 1px solid;
	font-weight: bold;
	color: #333333;
	background: #e5f2ff;}

.table_01 td {
	padding: 10px;
	border:#a0a0a0 1px solid;}

.faq dl{overflow: hidden;}

.faq dt{
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.faq dd{
	max-width: 700px;
	margin-bottom: 40px;
	padding-left:1.5em;
	text-indent:-1.5em}

.faq ul{margin-bottom: 30px;}

.faq li{list-style: none;}

/* パンくずリスト */
.bread	{margin-bottom: 20px}

.bread ol	{
	margin: 0;
	padding: 0;
	list-style: none}

.bread li a	{
	display: inline-block;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.bread li a:hover	{background-color: #eeeeee}

.bread ol:after	{
	content: "";
	display: block;
	clear: both}

.bread li	{
	float: left;
	width: auto}

.bread li:after	{
	content: '\003e';
	margin-left: 10px;
	margin-right: 10px;
	color: #888888}

/* サイドメニュー */
.sidemenu	{border: solid 6px #dddddd}

.sidemenu h1	{
	margin: 0;
	padding: 10px;
	font-size: 16px;
	font-weight: normal}

.sidemenu h1 i	{
	margin-right: 5px;
	color: #8abc60;
	font-size: larger}

.sidemenu ul	{
	margin: 0;
	padding: 0;
	list-style: none}

.sidemenu li a	{
	display: block;
	padding: 10px;
	border-top: solid 1px #dddddd;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.sidemenu li a:hover	{background-color: #eeeeee}

/* コピーライト */
.copyright p	{margin: 0;
	color: #333333;
	font-size: 14px}

.headerbox	{	margin-top: 10px;}

.headerbox:after	{
	content: "";
	display: block;
	clear: both}

.footerbox {
	margin-top: 20px;
	padding: 10px 0;
	background-color: #fff;
	border-top: 1px solid #999;
}

.tagline {
	float: left;
	padding-left: 10px;
}

/* 2階層目のメニュー表示*/
.secondbutton {
	width: 100%;
}

/* googleマップ */
.googlemap{
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.googlemap iframe, .googlemap object, .googlemap embed{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}

/*youtube埋め込み*/
.youtube {
position: relative;
height: 0;
padding: 30px 0 56.25%;
overflow: hidden;
}

.youtube iframe {
position: absolute;
top: 0;
left: 0;
padding: 0 auto;
width: 100% !important;
height: 100% !important;
max-width: 560px;
max-height:315px;
}

.snsbutton a{
	color: #333;
	font-size: 5.0rem;
	padding: 40px 10px 10px;
}

/* ########### 599px以下 ########### */
@media (max-width: 599px) {

.headerbox	{	margin-bottom: 15px;}

/* トグルボタン */
#menubtn	{
	padding: 6px 12px;
	border: solid 1px #aaaaaa;
	border-radius: 5px;
	background-color: #ffffff;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer}

#menubtn:hover	{background-color: #dddddd}

#menubtn:focus	{outline: none}

#menubtn i	{color: #888888;
	font-size: 18px}

#menubtn span	{
	display: inline-block;
	text-indent: -9999px}


/* ナビゲーションメニュー（縦並び） */
.menu	{display: none}

.menu ul	{margin: 0;
	padding: 0;
	list-style: none}

.menu li a	{display: block;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.menu li a:hover	{background-color: #eeeeee}

/* キャッチコピー */
.catch	{padding: 5px 10px;
	font-size: 12px}

.gnav nav{width:auto;}

.gnav li{
	width:50%;
	border-bottom:none;
}

.gnav li:nth-child(odd){ border-left:1px #FFF solid;}

.gnav li:nth-child(5),li:nth-child(6){border-bottom:1px #FFF solid;}

}


/* ########### 600px以上 ########### */
@media (min-width: 600px) {

/* BOX1とBOX2を横に並べる設定 */
.headerbox:after	{content: "";
	display: block;
	clear: both}

.logobox{
	float: left;
	width: auto}

.menubox {float: right;
	width: auto}

/* トグルボタン */
#menubtn	{display: none}

/* ナビゲーション */
#menu	{display: block !important}

.menu ul	{margin: 0;
	padding: 0;
	list-style: none}

.menu li a	{display: block;
	padding: 10px 15px;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.menu li a:hover	{background-color: #eeeeee}

.menu ul:after	{content: "";
	display: block;
	clear: both}

.menu li	{float: left;
	width: auto}
}

/* ########### 1190px以上 ########### */
@media (min-width: 1190px) {

/* 全体の横幅を固定 */
.container, .copyright {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;}

}
